.logo {
    font-size: 2rem;
}

li {
    list-style-type: none;
}

.form {
    background-color: #f8f9fa;
}

.about {
    text-align: center;
}

.about-body {
    text-align: justify;
}


/* tablet */
@media (max-width: 992px) {
    .filter-menu {
        width: 460px;
    }
}

/* phone, fits iPhone as old as 6 */
@media (max-width: 769px) {
    .filter-menu {
        width: 345px;
    }
    .explore{
      display: none;
    }
}
